body {
  margin: 0;
  padding: 0;
  overflow-y: auto;
  scroll-behavior: smooth;
}

/* Container just wraps the sections */
.contact {
  scroll-snap-type: y mandatory;
}

/* Main Section*/
.ctc-section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  scroll-snap-align: start;
  font-size: 2rem;
}

/* Section 1 Style*/
.ctc-1 {
  background-color: #FFFFFA;
  margin-bottom: 50px;
}
/* Section 2 Style*/
.ctc-2 {
  background-color: #e0f0ff;
  margin-bottom: 10px;
}
