/* Make sure body scrolls */
body {
  margin: 0;
  padding: 0;
  overflow-y: auto;
  scroll-behavior: smooth;
}

/* Container just wraps the sections */
.home {
  scroll-snap-type: y mandatory;
}

/* Section Main */
.section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  scroll-snap-align: start;
  font-size: 2rem;
}

/* Section 1 Style */
.section-1 {
  background-image: url('/C:/Users/Kyle/OneDrive/Desktop/React Projects/portfolio-website-2.0/public/images/bg-1.jpg'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white; 
  border: none;
  margin-bottom: 30px;
}

.intro-text {
  text-align: center;
  color: white;
  padding-bottom: 100px;
}
/* Text 1 Name */
.intro-text h1 {
  font-size: 4.5rem;
  margin-bottom: 10px;
  font-weight: 700;
}
.typing-1 {
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid white;
  width: 0;
  animation: typing 2s steps(30, end) forwards, blink 0.7s step-end infinite;
}

@keyframes typing {
  from { width: 0; }
  to { width: 20ch; } 
}

@keyframes blink {
  from, to { border-color: transparent; }
  50% { border-color: white; }
}
/* Section 2 Title */
.intro-text h2 {
  font-size: 1.8rem;
  font-weight: 400;
  margin: 0;
}
.typing-2 {
  opacity: 0;
  animation: fadeIn 2s ease-in-out forwards;
  animation-delay: 1s;
}

@keyframes fadeIn {
  to { opacity: 1; }
}
/* Subtext or Quote Style */
.subtext {
  font-size: 1.5rem;
  font-weight: 300;
  margin-top: 70px;
  color: rgba(255, 255, 255, 0.9);
  opacity: 0;
  animation: fadeIn 2s ease-in-out forwards;
  animation-delay: 1s;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.5;
}


.enter-button {
  margin-top: 30px;
  font-size: 1.2rem;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.925);
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.692);;
  padding: 10px 45px;
  display: inline-block;
  border-radius: 0px;
  transition: all 0.3s ease;
  animation: fadeIn 2s ease-in-out forwards;
  animation-delay: 1s;
  opacity: 0;
}

.enter-button:hover {
  background-color: rgba(255, 255, 255, 0.808);
  color: black;
  transform: scale(1.05);
}


/* Section 2 Style */
.section-2 {
  background-color: #FFFFFA;
  margin-bottom: 10px;
  height: 103vh;
  padding-top: 20px;
}

.section2-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.section-title {
  font-size: 2.5rem;
  font-weight: 600;
  color: #333;
  text-align: center;
  margin-bottom: -5px;
}

.section-description {
  max-width: 800px;
  text-align: center;
  font-size: 1.1rem;
  color: #555;
  margin-bottom: 15px;
  line-height: 1.6;
}

/* first and second columns */
.first-column,
.second-column {
  background-color: #ffb24700;
  color: black;
  padding: 15px;
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
}

.tech-icons {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.tech-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  background-color: #ffffff;
  height: 160px; 
  width: 160px;  
  border-radius: 15px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.tech-item:hover {
  transform: translateY(-8px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

.tech-icon {
  width: 70px;
  height: 70px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 10px;
  filter: grayscale(100%);
  transition: transform 0.3s ease, filter 0.3s ease;
}

.tech-icon:hover {
  transform: scale(1.15);
  filter: grayscale(100%) brightness(1.2);
}

.tech-name {
  font-size: 1.3rem;
  font-weight: 600;
}

/* Icon Images */
.html-icon {
  background-image: url('/public/images/html-icon.png');
}

.css-icon {
  background-image: url('/public/images/css-icon.png');
}

.bootstrap-icon {
  background-image: url('/public/images/bootstrap-icon.png');
}

.react-icon {
  background-image: url('/public/images/react-icon.png');
}

.flask-icon {
  background-image: url('/public/images/flask-icon.png');
}

.flutterflow-icon {
  background-image: url('/public/images/flutterflow-icon.png');
}

.c-icon {
  background-image: url('/public/images/c-icon.png');
}

.cpp-icon {
  background-image: url('/public/images/cpp-icon.png');
}

.javascript-icon {
  background-image: url('/public/images/javascript-icon.png');
}

.python-icon {
  background-image: url('/public/images/python-icon.png');
}

.mabl-icon {
  background-image: url('/public/images/mabl-icon.png');
}

.selenium-icon {
  background-image: url('/public/images/selenium-icon.png');
}





